@model MVC.Models.Expense
@{
    ViewData["Title"] = "Delete";
}
<h1>Delete</h1>
<form method="post" asp-action="Delete">
    <div class="row">
        <div class="col-12">
            <div class="form-group row">
                <label class="col-3 m-1 form-control" asp-for="ExpenseName"></label>
                <label class="col-3 m-1 form-control" asp-for="Amount"></label>
            </div>
            <div class="form-group row">
                <input class="col-3 form-control m-1" asp-for="@Model.ExpenseName" />
                <input class="col-3 form-control m-1" asp-for="@Model.Amount" />
            </div>
            <div class="col-3 form-control m-1"></div>
            <button type="submit" class="col-3 btn btn-danger m-1">Delete</button>
            <button asp-action="Index" class="col-3 btn btn-info m-1">Back</button>
        </div>
    </div>
</form>
